.footer
{
  &__author
  {
    max-width: 734px;
    margin: 20px auto 120px;
  }

  &__avatar
  {
    display: block;
    border-radius: 50%;
    margin: 20px auto;
    width: 150px;
    height: 150px;
  }

  &__author-name
  {
    text-align: center;
  }

  &__job,
  &__hobby
  {
    margin: 9px 0 24px;
    text-align: center;
    padding: 0 5px;
  }

  &__hobby
  {
    max-width: 626px;
    margin: 0 auto;
    text-align: center;
  }

  &__socials
  {
    display: block;
    margin: 43px auto;
    width: 166px;
    height: 48px;
  }

  &__logo-container
  {
    background-color: #000;
  }

  &__logo
  {
    display: block;
    margin: 0 auto;
    width: 167px;
    height: 48px;
  }
}