.title-course
{
  flex-wrap: nowrap;
  display: flex;
  justify-content: space-between;
  margin: 43px auto 0;
  max-width: 1580px;
  padding: 0;

  &__block
  {
    position: relative;
    margin: 180px 0 0 15px;
  }

  &__header
  {
    font: 600 80px/1.22 'Montserrat', sans-serif;
    margin: 0 0 15px 2px;
  }

  &__button
  {
    margin-left: 1px;
    padding: 18px 85px;
  }

  &__description
  {
    font: 400 22px/1.18 'Roboto Condensed', sans-serif;
    color: rgba(0, 0, 0, 0.7);
    margin: 21px 0 64px 2px;
    max-width: 500px;
  }

  &__image
  {
    position: relative;
    width: 848px;
    height: 661px;
    background-size: cover;
    top: 18px;
    left: 0;
  }
}

.font-color_pink
{
  color: #EE58B6;
  font-style: normal;
}

.tags-list
{
  margin: 70px auto 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 337px));
  background-color: #000;
  grid-gap: 85px;
  min-height: 398px;
  align-items: center;
  justify-content: center;

  &__box
  {
    position: relative;
    text-align: center;
    padding-left: 9px;

    &_second
    {
      padding-left: 9px;
    }

    &_third
    {
      padding-left: 10px;
    }
  }

  &__description
  {
    color: #fff;
    font: 400 normal 22px/1.17 'Roboto Condensed', sans-serif;
    margin: 17px 0 39px;
    width: 337px;
  }

  &__logo
  {
    &-first
    {
      position: relative;
      left: 3px;
      top: -1px;
    }

    &-second
    {
      position: relative;
      left: 3px;
      top: -1px;
    }

    &-third
    {
      position: relative;
      left: 5px;
      top: -1px;
    }
  }
}

.content
{
  max-width: 1175px;
  margin: 73px auto 0;

  &__image
  {
    position: relative;
  }

  &__block
  {
    margin-bottom: 44px;
    gap: 52px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;

    &_second
    {
      justify-content: right;
      padding-right: 10px;
      gap: 58px;
    }
  }

  &__block:first-child
  {
    margin-bottom: 45px;
  }

  &__text
  {
    position: relative;
    max-width: 574px;
    margin-top: 113px;

    &_second
    {
      max-width: 574px;
      margin-top: 0;
      position: relative;
      bottom: 7px;
    }
  }

  &__title
  {
    font: 500 48px/1.4 'Montserrat', sans-serif;
    margin-bottom: 20px;
  }

  &__description
  {
    width: 574px;
    font: 18px/1.4 'Roboto Condensed', sans-serif;
  }
}

.row-block
{
  max-width: 573px;
  font: 500 48px/1.05 'Montserrat', sans-serif;
}

.main__row-block
{
  margin: 104px auto 0;
  padding-left: 20px;
}

.list-advantages
{
  padding-left: 21px;
  max-width: 1155px;
  display: grid;
  flex-wrap: wrap;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 358px));

  &__block
  {
    position: relative;
    height: 190px;
    box-sizing: border-box;
    font: 400 18px/1.1 'Roboto Condensed', sans-serif;
    background-color: #000;
    border-radius: 8px;
    color: #fff;
    padding: 33px 37px 37px 39px;

    &:hover
    {
      background-color: #161616;
      box-shadow: 0 0 3px 0 #000;
    }

    img
    {
      margin-bottom: 20px;
    }
  }
}

.main__list-advantages
{
  margin: 62px auto 154px;
}

.block-faq
{
  padding-bottom: 25px;

  &__row-block
  {
    margin: 50px auto;
    max-width: 700px;
  }
}

.faq
{
  margin: 0 auto;
  color: #484848;
  padding-bottom: 100px;

  &__container
  {
    display: grid;
    grid-template-rows: repeat(3, minmax(80px, max-content));
    grid-template-columns: repeat(1, 100%);
    grid-gap: 20px;
    margin: 0 auto;
    max-width: 720px;
  }

  &__accordion
  {
    color: #242424;
    max-width: 720px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: block;

  }

  &__button
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: 700 22px/1.6 'Montserrat', sans-serif;
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 23px 20px 23px 30px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 10px;
  }

  &__arrow
  {
    transition: transform ease 0.8s;
  }

  &__accordion_hide
  {
    font: 400 20px/1.6 'Montserrat', sans-serif;
    height: 0;
    overflow: hidden;
    padding: 0 35px 0 30px;
    transition: height 0.8s;
  }
}

.active
{
  height: auto;
  overflow: visible;
}

.rotate
{
  transform: rotate(-45deg);
}

.main__block-faq
{
  max-width: 900px;
  margin: 0 auto;
}

.feedback-block
{
  text-align: center;
  background-color: #000;
  height: 494px;
  padding-top: 125px;
  box-sizing: border-box;

  &__title
  {
    width: 470px;
    color: #fff;
    font: 500 48px/1.2 'Montserrat', sanf-serif;
    margin: 0 auto 60px;
    text-align: center;
  }
}

.button_white
{
  box-sizing: border-box;
  padding: 16px 116px;
  background-color: #fff;
  border-radius: 5px;
  font: 600 16px/1 'Montserrat', sans-serif;
  margin-top: 60px;

  &:hover
  {
    background-color: #ee75c1;
    cursor: pointer;
    color: ghostwhite;
  }
}